[submodule "concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/romainaugier/concurrentqueue
[submodule "ext/mimalloc"]
	path = ext/mimalloc
	url = https://github.com/microsoft/mimalloc.git
