name: Build Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: get-cmake
        uses: lukka/get-cmake@latest

      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote

      - name: Build concurrentqueue
        run: |
          cd ext/concurrentqueue
          ./build_c_api.bat
          cd ..

      - name: build and test with addr san
        run: |
          ./build.bat --tests --reldebug --addrsan --clean
          type build\Testing\Temporary\LastTest.log

      - name: build and test
        run: |
          ./build.bat --tests --reldebug --clean
          type build\Testing\Temporary\LastTest.log
