name: Build  Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: get-cmake
        uses: lukka/get-cmake@latest

      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote

      - name: Build concurrentqueue
        run: |
          cd ext/concurrentqueue
          ./build_c_api.sh
          cd ..

      - name: Build and test with addr/leak sanitizer
        run: |
          ./build.sh --tests --reldebug --addrsan --leaksan
          cat build/Testing/Temporary/LastTest.log

      - name: Build and test with ub sanitizer
        run: |
          ./build.sh --tests --clean --reldebug --ubsan
          cat build/Testing/Temporary/LastTest.log

      - name: Build and test with thread sanitizer
        run: |
          ./build.sh --tests --clean --reldebug --threadsan
          cat build/Testing/Temporary/LastTest.log
